Package: com.thomtl.spotweather
Name: spotweather
Depends: mobilesubstrate
Version: 0.9.5
Architecture: iphoneos-arm
Description: A tweak that shows the current weather in the NC!
Maintainer: thomtl
Author: thomtl
Section: Tweaks
