Package: com.thomtl.spotweather
Name: spotweather
Depends: firmware (>= 10.0), firmware (<= 10.3.3), mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: A tweak that shows the current weather in the NC!
Maintainer: thomtl
Author: thomtl
Section: Tweaks
