Package: com.thomtl.spotweather
Name: spotweather
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: thomtl
Author: thomtl
Section: Tweaks
Version: 0.0.1-9+debug
Installed-Size: 52
